include *.txt
include *.md
include *.pkl
recursive-include ./bankloan_model *

include bankloan_model/datasets/bankloan.csv
include bankloan_model/datasets/test.csv
include bankloan_model/trained_models/*.pkl
include bankloan_model/VERSION
include bankloan_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]